* {
    box-sizing: border-box;
}
.container {
    width: 75%;
    margin: auto;
}
article {
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
}

.brand {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    font-family: serif;    
}
.row {
    width: 100%;
    display: flex;
    align-items: stretch;
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 0;
    margin-bottom: 0;
}
.col1 {
    width: 25%;
}
.col2 {
    width: 50%;
}
.col3 {
    width: 75%;
}
.flex-column {
    background: #cf8b8b;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border: 1px solid black;
}
.bg-color-yellow {
    background-color: #ffeaa7;
}
.bg-color-light-blue {
    background-color: #81ecec;
}
.bg-color-green {
    background-color: #55efc4;
}
.bg-color-blue{
    background-color: #74b9ff;
}
.bg-color-purple{
    background-color: #a29bfe;
}
a{
    text-decoration: none;
    font-size: 40px;
    color: gray
}
.article-title{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    font-style: italic;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
